/* styles.css */


/* Change font family and size of the dashboard title */
.skin-black .main-header .logo {
    text-align: left;
    font-family: 'Brix Sans'; 
    font-size: 19px; /* Adjust the font size as needed */
    background-color: #182B49 !important;
    color: #B6B1A9; /* text color */
    border: 1px solid black;
}

/* Change background color of header */
.skin-black .main-header {
    background-color: #747678 !important; /* Adjust the color as needed */
}

/* Change background color of sidebar */
.skin-black .main-sidebar {
    background-color: black !important; /* Adjust the color as needed */
}

/* Change background color of body */
.skin-black .content-wrapper,
.skin-black .right-side {
    background-color: #747678 !important; /* Adjust the color as needed */
}

/* Change color of the hamburger icon when closed */
.skin-black .sidebar-toggle::before {
    color: #B6B1A9 !important; /* Change 'your-color' to the desired color */
}

.body {
    background-color: #747678;
}

.box {
    border-radius: 5px;
    border: 1px solid black;
}

.box-header {
  background-color: #182B49;
  color: #B6B1A9; /* text color */
  text-align: center;
}

.navbar {
  background-color: #00629B!important;
  color: #B6B1A9; /* text color */
  border: 1px solid black;
}

.navbar .navbar-inner {
  background-color: #B6B1A9!important;
  color: #B6B1A9; /* text color */
  border: 1px solid black;
}